body{
    background-image: url("./images/fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    padding: 1rem;
    text-align: left;
}

nav li{
    list-style: none;
    text-decoration: none;
    padding: 0;
    display: inline-flex;
    justify-items: center;
    font-weight: bolder;
}
li{
    &:not(:nth-child(1)){
        margin: 0 1rem;
    }
    &:nth-child(1){
        margin-right: 1rem;
    }
}

nav li a{
text-decoration: none;
color: #3E251E;

}

#container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.descricao{
    display: flex;
    flex-direction: column;
}

#home{
    display: flex;
    flex-direction: row;
}

.icones img{
    width: 150px;
    height: 210px;
}

.icones{
    margin-top: 20rem;
    width: 70%;
    display: flex;
}

button{
    width: 5rem;
    height: 1.5rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
}

form{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
form label{
    display: block;
}
form input{
    margin-bottom: 2%;
    width: 100%;
}

form textarea{
    width: 100%;
}
